body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #D4D4D4;
}
.top{
    margin:0;
    background-image: url("power-gym.jpg");
    overflow: auto;
    height:48rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.quote1{
    font-size: 2rem;
}
.navbartoggler{
    color:#f13131;
}
.logo{
    height:8%;
    width:10%;
}
@media(max-width:1020px){
    .logo{
height: 8%;
width:10%;

    }
}
li{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    padding-right: 0%;
    padding-left:0%;
    display: inline;
    margin:0;
    font-size: 17px;
}
a.home{
    border:2px #f13131 solid;
    text-align: center;
    border-radius:5px;
    margin-left:48px;
    display: inline-block;
    text-decoration: none;
    color:#f13131;
    padding:3px;
}
 a.nav-link:hover {
    color: black;

  }
  a.home1{
    color:#f13131;

  }

.icon{
position:fixed;
right:4%;
margin-top:4%;
float:right;
}

.navbar-brand
{
    /* position: relative;
    background: url("POWER-FAVICON\ cropped_prev_ui.png");
    width: 8rem;
    height: 9rem;
    margin-left: 0;
    padding-bottom: 0.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}
.qoute{
    font-family:  'Poppins', sans-serif;
    padding-left:4%;
    margin-top: 5%;
    padding-top: 11%;
    font-size:larger;
    color:#f13131;
    font-weight: bold;
}
 #arrow{
    animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
} 
@keyframes example {
    from {left: 0px;}
    to {left: 50px;}
  }
@media(max-width:576px){
    .blockquote{
      margin-left: 5%;
    }
}
@media(max-width:1208px){
    .quote{
        margin-top:15%;

    }
}
.card{
    border-radius: 8px;
    box-shadow:0 0 10px #5c5a5a;
    margin-left: 18%;
    transition: transform .7s;
    
}

 @media(max-width:576px){
    .card{
        margin-left:6%;
    }
} 
.classes{
    background-color:lightgray;
    height: 9%;
    padding-top: 1%;
    padding-bottom: 50%;
    font-family:  'Poppins', sans-serif;
    color:#f13131;
}
.card .content{
align-items: center;
background-color: #000;
background-color: var(--background-color);
bottom: 1px;
display: flex;
height: 200px;
justify-content: center;
left: 10px;
opacity: 0;
padding: 10px;
position: absolute;
right: 10px;
text-align: center;
transition: .5s;
}
*, ::after, ::before {
box-sizing: border-box;
}
.aboutus{
    font-family:  'Poppins', sans-serif;
    padding-top:2%;
    background-color:lightgray;
    color:#f13131;
    width: 100%;
    height:18%;
}
.elite{
    cursor:pointer;
    font-family:  'Poppins', sans-serif;
    color:#f5f5f5;
    border:1px #f13131 solid;
    transition: transform .7s;
    background-color: #f13131;
    border-radius: 12px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 3px #8e8d8d;
    transition: all .5s ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
    /* height:4%;
    width:30%; */
}
 /* a.nav-link:hover :active{
    color:#D10000;
} */
.elite:hover{
    transform:  scale(0);
} 
.navbar .navbar-nav .nav-link.active {
    color: #f13131;
  }
@media(max-width:769px){
    .elite{
        margin-left:12%;
    }
}

.contactus{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color:lightgray;
    padding-left:18%;
    color:#f13131;
    width:100%;
    height:8%;
}
.contact{
    font-family: 'Poppins', sans-serif;
    position:relative;
    left:15%;
    margin:1%;
    border:2px #f13131 solid;
    border-radius:15px;
    padding:2%;
    height:3rem;
    width:70%;
    display:block
}
input.contact:focus{
    border:2px #f13131 solid;
    outline: #f13131;
    box-shadow:0 0 10px #f13131;
}
.contact1{
    position:relative;
    left:15%;
    margin:1%;
    border:2px #f13131 solid;
    border-radius:15px;
    padding:2%;
    height:12rem;
    width:70%;
    display:block
}
input.contact1:focus{
    border:2px #f13131 solid;
    outline: #f13131;
    box-shadow:0 0 10px #f13131;
}
@media(max-width:1028px){
    .contact{
margin:0.7rem;

    }
}
@media(max-width:1028px){
    .contact1{
margin:0.7rem;

    }
}
.btn{
border-radius: 25px;
}
.ordernow{
    outline: none;
    background-color: #f5f5f5;
    margin-top:2%;
    color:#f13131;
    border:2px #f5f5f5 solid;
    height:3rem;
    width:50%;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
 .ordernow:hover{
    background-color: #c6c4c4;
    color:#f13131;
    border-color: #c6c4c4;
}
.submit{
    outline: none;
    background-color: #f13131;
    margin-top:2%;
    color:aliceblue;
    border:2px #f13131 solid;
    height:3rem;
    width:25%;
    border-radius: 25px;
}
@media(max-width:1028px){
    .submit{
width:45%;
margin:2%;

    }
}
.submit:hover{
    background-color: rgb(214, 18, 18);
    border-color:rgb(214, 18, 18) ;
}
.footer{
    font-family:'Poppins', sans-serif ;
    margin:0;
background-color: #f13131;
color:aliceblue;
height:4%;
width:100%;
}
.footericon{
display:inline-block;
padding-right:2%;
color:aliceblue;
font-size: 2rem;

}
.location{
    text-decoration:none;
    color:aliceblue
}
#facebook:hover{
    color:#1777EF;
}
#google:hover{
   color:#D10000;
}
#youtube:hover{
    color:#0005
}

.navbar ul li a:hover {color:#F00F00; text-decoration:none;} 
    .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none;
    }

/* .dropcontent{
font-size: 12px;
    display: none;
        opacity: 0.8;
        color:#f13131;
        font-size:medium;
        right:0%;
        float:right;
        overflow: hidden;
        border-radius: 3px;
    z-index:1
  }
  a.nav{
    margin-top: 2%;
    text-decoration: none;
    padding-left: 2%;
    padding-top: 3%;
    color:#f13131;
  }
  a.nav:hover{
    border-bottom:2px red solid;
    margin:0;
    width:5%;
    box-sizing: border-box;
  }
a.home:hover{
    cursor: pointer;
    visibility: none;
    border:white solid;
    background-color: white;
    height:100%;
    width: 25%;
    float: right;
    margin-right:0;
}
.navbar:hover  .dropcontent{
    display:block;
  }
  .navbar:hover body{
    background-color: rgb(53, 51, 51);
    opacity: 0.5;
    } */